@
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}

<div class="jumbotron">
    <h1>Spotify Top Artists</h1>
    <p class="lead">Connecting to Spotify and pulling it's Top Artists</p>

</div>

<table class="table">
    <tr>
        <th>
            Rank
        </th>

        <th>
            Artists
        </th>
    </tr>
    
    <tr>
        <td>
            @{
                i++;
            }
            @i
        </td>
        <td></td>
    </tr>




</table>